/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo a {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
}

.search input[type="text"] {
  padding: 10px;
  border-radius: 20px;
  border: #333;
  /* outline: none; */
  font-size: 16px;
  font-weight: bold;
  width: 300px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.search button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.nav-button.login-button {
  background-color: #686363;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.buttons button {
  background-color: #3a3939;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 2px;
  font-weight: bold;
}

.a {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 10px;
  font-weight: bold;
}

main {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}


footer {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 40px;
}

footer p {
  font-size: 14px;
  color: #777;
}

.cover-image {
  background-image: url('../img/cover_image.jpg');
  background-position: center;
  background-size: cover;
  height: 300px;
}

.book-container {
  font-family:'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, minmax(300px, auto));
  grid-gap: 20px;
}

.book {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 700px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.book:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px); 
}


.book img {
  max-height: 100%;
  margin-right: 20px;
}

.book h2 {
  margin-bottom: 10px;
}

.book p {
  margin: 0;
  line-height: 1.5;
}



.book .book-info {
  -webkit-line-clamp: 2;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.book .book-info .book-genres {
  margin-bottom: 20px;
}

.book .book-info .book-ratings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2980b9;

}


.book-description {
  padding-top: 20px;
  color: black;
  margin-bottom: 0;
  font-size: small;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#already-read
{
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  padding-top: 5px;

  width: 250px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
.read-btn{
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 250px;
  height: 40px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000000;
}

.read-btn:hover {
  background-color: #2980b9;
}
